<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="datatable(rows, columns, currentPage, pagesCount, currentUrl)">
    <table>
        <thead>
        <tr>
            <th th:each="column: ${columns}" th:text="${column.name}">Column header placeholder</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="row: ${rows}">
            <td th:each="column: ${columns}"
                th:text="${row[column.data]}">Data placeholder
            </td>
        </tr>
        </tbody>
    </table>
    <div th:if="${pagesCount > 1}">
        <a th:href="${currentUrl + '?page=' + (currentPage - 1)}" th:if="${currentPage > 0}">Сюда</a>
        <p th:text="${currentPage}"></p>
        <a th:href="${currentUrl + '?page=' + (currentPage + 1)}" th:if="${currentPage < pagesCount}">Туда</a>
    </div>
</th:block>
</body>
</html>
